<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
 
    <title>SIGN UP</title>
  </head>
  <body>
 
<section>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto" >
                <div class="card border-0 shadow"style="margin-top:6%;">
                    <div class="card-body"style="background-color: black;">
                        <h1 class="hh" style="text-align:center ; color: aliceblue;"><span style="color:rgb(230, 173, 211);">SIGN_</span>UP</h1>
                        <div class="li" style="border: 1px solid rgb(226, 230, 226);"></div>
                        <svg class="mx-auto my-3"xmlns="http://www.w3.org/2000/svg" width="500" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color:white">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        <form action="">
                            <input type="text" name="Name" id="" class="form-control my-4 py-3" placeholder="Enter name"/>
                            <input type="text" name="" id="" class="form-control my-4 py-3" placeholder="name@gmail.com"/>
                            <input type="password" name="" id="" class="form-control my-4 py-3" placeholder="Password"/>
                            <div class="text-center mt-3">
                                <button class="btn btn-primary">REGISTER</button>
                                <a href="./Signin.html" class="nav-link"> Already have and account? </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   
 
    
  </body>
</html>
