<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUTRI-ASSISTANT</title>
    <link rel="stylesheet" href="nu.css">
   
</head>
<body>
   
<div class=" bac">
    <div class="ani">
        <h1><span style="color:#d4d0d0">NUTRI </span>-  <span style="color:#0cb4e7">ASSISTANT</span></h1>
       
    </div>
   
   
        <img class="ll" src="./logo.PNG">
        <div class="logo">
           
      <a href="./home.html" class="btn">SIGN UP</a>
    </div>
    </div>
   
</div>
 
   
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUTRI-ASSISTANT</title>
    <link rel="stylesheet" href="nu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    
<div class=" bac">
    <div class="ani">
        <h1 id="hea "><span style="color:#d4d0d0">NUTRI </span>-  <span style="color:#0cb4e7">ASSISTANT</span></h1>
        
    </div>
    
    
    
        <img class="ll" src="./logo.PNG">
        
            <div class=" search">
                <input type="text" name="box" placeholder="search anything">
                <div class="sea">
                <a href="#"><i class='fa fa-search'></i></a>
            </div>
            </div>
            <div class="paragraph">
                <p id="para">"Good and feeling good go hand in hand".<span style="color:#F5B3A0;">If you have a healthy lifestyle, your diet and nutrition are set,</span>.</p>
     <br>
     <br>
     <br>
     <br> 
     <a href="./home.html" class="btn">SIGN UP</a>
            </div>
    
</div>


    
</body>
</html>